.root{
  
 text-align: center;
}




.navbar{
  background: rgb(230,153,186);
background: linear-gradient(90deg, rgba(230,153,186,1) 0%, rgba(155,192,235,1) 100%);
}


.jum{
  background: rgb(230,153,186);
background: linear-gradient(90deg, rgba(230,153,186,1) 0%, rgba(155,192,235,1) 100%);
}





body{
  background: rgb(230,153,186);
background: linear-gradient(90deg, rgba(230,153,186,1) 0%, rgba(155,192,235,1) 100%);
}

.img{
  height: 35%;
  width: 40%;
  margin-left: 30%;

}
.hh{
  text-align: center;
  margin-top: 1%;
  font-family:'URW Chancery L, cursive';
}
#i{
  width: 90%;
  height: 90%;
  border-style:solid ;
  border-color:black;
  border-radius: 10%;
  margin-left: 20px;
  
  

}
#c1{
  background-color: transparent;
  border:transparent;
  padding: 30px 30px 30px 30px ;

}
hr{
  border-style: none;
  border-top-style:dotted;
  border-width: 50px;
 
  width: 10%;
  background-color: black ;
  


   
  border-style:inset ;

  
  
   
}
.b{
  background: transparent;
  border: transparent;
}
.jum1{
  background: black !important;
  margin: 0px 0px -32px;
  position: relative;
  margin-bottom: -32px;

}
.page{
  background: rgb(216,121,168);
background: linear-gradient(90deg, rgba(216,121,168,1) 0%, rgba(93,156,230,0.9867297260701156) 92%);
}
.a{
  margin:48% ;
  
}