.root{
  
 text-align: center;
}




.navbar{
  background: rgb(230,153,186);
background: linear-gradient(90deg, rgba(230,153,186,1) 0%, rgba(155,192,235,1) 100%);
}


.jum{
  background: rgb(230,153,186);
background: linear-gradient(90deg, rgba(230,153,186,1) 0%, rgba(155,192,235,1) 100%);
}





body{
  background: rgb(230,153,186);
background: linear-gradient(90deg, rgba(230,153,186,1) 0%, rgba(155,192,235,1) 100%);
}

.img{
  height: 35%;
  width: 40%;
  margin-left: 30%;

}
.hh{
  text-align: center;
  margin-top: 1%;
  font-family:'URW Chancery L, cursive';
}
#i{
  width: 90%;
  height: 90%;
  border-style:solid ;
  border-color:black;
  border-radius: 10%;
  margin-left: 20px;
  
  

}
#c1{
  background-color: transparent;
  border:transparent;
  padding: 30px 30px 30px 30px ;

}
.hori{

  width: 30px;

   
  border-style:inset ;

  
  
   
}
.b{
  background: transparent;
  border: transparent;
}
.jum1{
  color: black;
}